@model IEnumerable<MySait3.Models.Work>

<p>
    @Html.ActionLink("Створити нову публікацію", "Create")
</p>
@*<h1>@ViewBag.Messege</h1>*@
<div>
    <table>
        <tr>
            @*<td><p> № п/п</p></td>*@
            <td><p> Автори</p></td>
            <td><p> Назва </p></td>
            <td><p> Видавництво </p></td>
            <td><p> Рік </p></td>
            <td><p> К-сть сторінок </p></td>
        </tr>
        @foreach (var w in ViewBag.Works)
        {
            if (ViewBag.Messege == w.TypePublishing && (w.Autors.Contains("Гольський") || w.Autors.Contains("Holskyi")))
            {
                <tr>
                    @*<td><p>@w.WorkId;</p></td>*@
                    <td><p>@w.Autors</p></td>
                    <td><p>@w.NameWork </p></td>
                    <td><p>@w.NamePublishing </p></td>
                    <td><p>  @w.Year  </p></td>
                    <td><p>  @w.Page  </p></td>
                    <td><p> <a href="/Home/Delete/@w.WorkId"> Видалити </a></p><a href="/Home/Edit/@w.WorkId"> Редагувати </a></td>
                </tr>
            }
        }
    </table>

</div>